{% comment %}
  Post author meta
{% endcomment %}
{% if post.author %}
  {% assign author = site.data.authors[post.author] %}
{% else %}
  {% assign author = site.data.authors["default"] %}
{% endif %}

{% comment %}
  Page author meta
{% endcomment %}
{% if page.author %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.data.authors["default"] %}
{% endif %}

{% comment %}
  Site title
{% endcomment %}
{% capture amsf_site_title %}{% if page.title != site.name %} · {{ site.name }}{% endif %}{% endcapture %}

{% comment %}
  Site description
{% endcomment %}
{% capture amsf_site_desc %}
  {% if page.permalink != '/' %}
    {% if page.desc %}
      {{ page.desc | strip_html | strip_newlines | xml_escape }}
    {% elsif page.excerpt %}
      {{ page.excerpt | strip_html | strip_newlines | xml_escape | truncatewords: 50 }}
    {% else %}
      {{ page.content | markdownify | strip_html | xml_escape | truncatewords: 50 | truncate: 210 }}
    {% endif %}
  {% else %}
    {{ site.description }}
  {% endif %}
{% endcapture %}

{% comment %}
  Site base URL
{% endcomment %}
{% capture amsf_site_base %}{{ site.base | prepend: site.url }}{% endcapture %}

{% comment %}
  Theme base URL
{% endcomment %}
{% capture amsf_theme_base %}{{ site.amsf_theme | prepend: '/themes/' }}{% endcapture %}

{% comment %}
  Theme assets base URL
{% endcomment %}
{% capture amsf_theme_assets %}{{ site.amsf_theme | prepend: '/themes/' | prepend: site.assets | prepend: site.base }}{% endcapture %}

{% comment %}
  User assets base URL
{% endcomment %}
{% capture amsf_user_assets %}{{ site.assets | prepend: site.base }}{% endcapture %}

{% comment %}
  Feed URL
{% endcomment %}
{% capture amsf_feed_url %}{{ site.feed | prepend: site.base | replace: '/index.xml', '/' }}{% endcapture %}

{% comment %}
  Page title
{% endcomment %}
{% capture amsf_page_title %}{{ page.title | strip_html | xml_escape }}{% endcapture %}

{% comment %}
  Page URL
{% endcomment %}
{% capture amsf_page_url %}{{ page.url | prepend: amsf_site_base | replace: '/index.html', '/' | replace: '/index.htm', '/' | replace: '/index.xml', '/' }}{% endcapture %}

{% comment %}
  Page publish date
{% endcomment %}
{% capture amsf_page_pubdate %}{{ page.date }}{% endcapture %}


{% comment %}
  Page update date
{% endcomment %}
{% capture amsf_page_update %}
  {% assign date_publish = page.date | date: "%b %-d, %Y" %}
  {% assign date_update  = page.last_modified_at | date: "%b %-d, %Y" %}

  {% if date_publish != date_update %}
    {{ page.last_modified_at }}
  {% else %}
    {{ page.date }}
  {% endif %}
{% endcapture %}

{% comment %}
  Page words and reading time
{% endcomment %}
{% assign amsf_page_words_raw = page.content | number_of_words %}
{% assign amsf_page_reading_time_raw = amsf_page_words_raw | divided_by: 200 %}

{% capture amsf_page_words %}
  {% if amsf_page_words_raw == 0 %}
    No word
  {% elsif amsf_page_words_raw == 1 %}
    1 word
  {% else %}
    {{ amsf_page_words_raw }} words
  {% endif %}
{% endcapture %}

{% capture amsf_page_reading_time %}
  {% if amsf_page_reading_time_raw == 0 %}
    Less than 1 min
  {% elsif amsf_page_reading_time_raw == 1 %}
    1 min
  {% elsif amsf_page_reading_time_raw >= 60 %}

    {% assign amsf_page_reading_time_hr = amsf_page_reading_time_raw | divided_by: 60 %}
    {% assign amsf_page_reading_time_min = amsf_page_reading_time_raw | modulo: 60 %}

    {% capture amsf_page_reading_time_hr_unit %}
      {% if amsf_page_reading_time_hr == 1 %}
        hr
      {% else %}
        hrs
      {% endif %}
    {% endcapture %}

    {% capture amsf_page_reading_time_min_unit %}
      {% if amsf_page_reading_time_min > 1 %}
        mins
      {% elsif amsf_page_reading_time_min == 1 %}
        min
      {% endif %}
    {% endcapture %}

    {% capture amsf_page_reading_time_min_figure %}
      {% if amsf_page_reading_time_min != 0 %}
        {{ amsf_page_reading_time_min }}
      {% endif %}
    {% endcapture %}

    {{ amsf_page_reading_time_hr }} {{ amsf_page_reading_time_hr_unit | strip }} {{ amsf_page_reading_time_min_figure | strip }} {{ amsf_page_reading_time_min_unit | strip }}
  {% else %}
    {{ amsf_page_reading_time_raw }} mins
  {% endif %}
{% endcapture %}

{% comment %}
  Page type (used by Open Graph)
{% endcomment %}
{% capture amsf_page_type %}
  {% if page.permalink == '/' %}
    website
  {% else %}
    article
  {% endif %}
{% endcapture %}

{% comment %}
  Page language tag
{% endcomment %}
{% capture amsf_page_lang %}
  {% if page.languages %}
    {% if page.languages[0] != null %}
      lang="{{ page.languages | first }}"
    {% else %}
      lang="{{ page.languages }}"
    {% endif %}
  {% endif %}
{% endcapture %}

{% comment %}
  Page custom CSS
{% endcomment %}
{% capture amsf_page_css %}
  {% if page.css %}
    <style>
      {{ page.css }}
    </style>
  {% endif %}
{% endcapture %}

{% comment %}
  Page thumbnail
{% endcomment %}
{% capture amsf_page_thumb %}
  {{ site.file }}/thumb/{% if page.thumb %}{{ page.thumb }}{% else %}na.png{% endif %}
{% endcapture %}

{% comment %}
  Google Analytics tracking code
{% endcomment %}
{% capture amsf_google_analytics %}
  {% if site.google_analytics.enabled %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','{{ site.google_analytics.url }}','ga');

      ga('create', '{{ site.google_analytics.id }}', 'auto');
      ga('send', 'pageview');
    </script>
  {% endif %}
{% endcapture %}
