{% comment %}
  Post author meta
{% endcomment %}
{% if post.author %}
  {% assign author = site.data.authors[post.author] %}
{% else %}
  {% assign author = site.data.authors["default"] %}
{% endif %}

{% comment %}
  Page author meta
{% endcomment %}
{% if page.author %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.data.authors["default"] %}
{% endif %}

{% comment %}
  Site title
{% endcomment %}
{% capture amsf_site_title %}{% if page.title != site.name %} - {{ site.name }}{% endif %}{% endcapture %}
{% capture amsf_site_title_alt %}{% if page.title != site.name %}{{ site.name }} - {% endif %}{% endcapture %}

{% comment %}
  Site description
{% endcomment %}
{% capture amsf_site_desc %}
  {% if page.permalink != '/' %}
    {% if page.desc %}
      {{ page.desc | strip_html | strip_newlines | xml_escape }}
    {% else %}
      {{ page.content | markdownify | strip_html | normalize_whitespace | xml_escape | truncate: 300 | truncatewords: 40 }}
    {% endif %}
  {% else %}
    {{ site.description }}
  {% endif %}
{% endcapture %}

{% comment %}
  Site base URL
{% endcomment %}
{% capture amsf_site_base %}{{ site.base | prepend: site.url }}{% endcapture %}

{% comment %}
  Theme base URL
{% endcomment %}
{% capture amsf_theme_base %}{{ site.amsf_theme | prepend: '/themes/' }}{% endcapture %}

{% comment %}
  Theme assets base URL
{% endcomment %}
{% capture amsf_theme_assets %}{{ site.amsf_theme | prepend: '/themes/' | prepend: site.assets | prepend: site.base }}{% endcapture %}

{% comment %}
  User assets base URL
{% endcomment %}
{% capture amsf_user_assets %}{{ site.assets | prepend: site.base }}{% endcapture %}

{% comment %}
  Favicons
{% endcomment %}
{% capture amsf_favicon %}{{ '/favicon.ico' | prepend: site.base }}{% endcapture %}
{% capture amsf_favicon_svg %}{{ '/favicon.svg' | prepend: site.base }}{% endcapture %}
{% capture amsf_apple_touch_icon %}{{ '/apple-touch-icon.png' | prepend: site.base }}{% endcapture %}

{% comment %}
  Feed URL
{% endcomment %}
{% capture amsf_feed_url %}{{ site.feed | prepend: site.base | replace: '/index.xml', '/' }}{% endcapture %}

{% comment %}
  Page title
{% endcomment %}
{% capture amsf_page_title %}{{ page.title | strip_html | xml_escape }}{% endcapture %}

{% comment %}
  Page URL
{% endcomment %}
{% capture amsf_page_url %}{{ page.url | prepend: amsf_site_base | replace: '/index.html', '/' | replace: '/index.htm', '/' | replace: '/index.xml', '/' }}{% endcapture %}

{% comment %}
  Page publish date
{% endcomment %}
{% capture amsf_page_pubdate %}{{ page.date }}{% endcapture %}

{% comment %}
  Page update date
{% endcomment %}
{% capture amsf_page_update %}
  {% assign date_publish = page.date | date: "%b %-d, %Y" %}
  {% assign date_update  = page.last_modified_at | date: "%b %-d, %Y" %}

  {% if date_publish != date_update %}
    {{ page.last_modified_at }}
  {% else %}
    {{ page.date }}
  {% endif %}
{% endcapture %}

{% comment %}
  Page words and reading time
{% endcomment %}
{% assign amsf_page_words_raw = page.content | number_of_words %}
{% assign amsf_page_reading_time_raw = amsf_page_words_raw | divided_by: 200 %}

{% capture amsf_page_words %}
  {% if amsf_page_words_raw == 0 %}
    No word
  {% elsif amsf_page_words_raw == 1 %}
    1 word
  {% else %}
    {{ amsf_page_words_raw }} words
  {% endif %}
{% endcapture %}

{% capture amsf_page_reading_time %}
  {% if amsf_page_reading_time_raw == 0 %}
    Less than 1 min
  {% elsif amsf_page_reading_time_raw == 1 %}
    1 min
  {% elsif amsf_page_reading_time_raw >= 60 %}

    {% assign amsf_page_reading_time_hr = amsf_page_reading_time_raw | divided_by: 60 %}
    {% assign amsf_page_reading_time_min = amsf_page_reading_time_raw | modulo: 60 %}

    {% capture amsf_page_reading_time_hr_unit %}
      {% if amsf_page_reading_time_hr == 1 %}
        hr
      {% else %}
        hrs
      {% endif %}
    {% endcapture %}

    {% capture amsf_page_reading_time_min_unit %}
      {% if amsf_page_reading_time_min > 1 %}
        mins
      {% elsif amsf_page_reading_time_min == 1 %}
        min
      {% endif %}
    {% endcapture %}

    {% capture amsf_page_reading_time_min_figure %}
      {% if amsf_page_reading_time_min != 0 %}
        {{ amsf_page_reading_time_min }}
      {% endif %}
    {% endcapture %}

    {{ amsf_page_reading_time_hr }} {{ amsf_page_reading_time_hr_unit | strip }} {{ amsf_page_reading_time_min_figure | strip }} {{ amsf_page_reading_time_min_unit | strip }}
  {% else %}
    {{ amsf_page_reading_time_raw }} mins
  {% endif %}
{% endcapture %}

{% comment %}
  Page type (used by Open Graph)
{% endcomment %}
{% capture amsf_page_type %}
  {% if page.permalink == '/' %}
    website
  {% else %}
    article
  {% endif %}
{% endcapture %}

{% comment %}
  Page type (used by Twitter Cards)
{% endcomment %}
{% capture amsf_page_type_twitter %}
  {% if site.tc_large_image or page.tc_large_image %}
    summary_large_image
  {% else %}
    summary
  {% endif %}
{% endcapture %}

{% comment %}
  Page language tag
{% endcomment %}
{% capture amsf_page_lang %}
  {% if page.languages %}
    {% if page.languages[0] != null %}
      lang="{{ page.languages | first }}"
    {% else %}
      lang="{{ page.languages }}"
    {% endif %}
  {% endif %}
{% endcapture %}

{% comment %}
  Page custom CSS
{% endcomment %}
{% capture amsf_page_css %}
  {% if page.css %}
    <style>
      {{ page.css }}
    </style>
  {% endif %}
{% endcapture %}

{% comment %}
  Page thumbnail
  TODO: https://regex101.com/r/N2hoxV/1
{% endcomment %}
{% assign amsf_site_logo = "/logo.png" | prepend: amsf_site_base %}
{% capture amsf_post_first_image %}
  {% assign hero_image = page.content | match_regex: '<img .*?src="([^"]+)"' %}
  {% if hero_image == nil %}
    {% assign hero_image = amsf_site_logo %}
  {% endif %}
  {{ hero_image }}
{% endcapture %}

{% capture amsf_page_thumb %}
  {% if page.thumb_force_logo %}
    {{ amsf_site_logo }}
  {% elsif page.thumb %}
    {{ site.file }}/thumb/{{ page.thumb }}
  {% elsif page.thumb_url %}
    {{ page.thumb_url }}
  {% else %}
    {{ amsf_post_first_image }}
  {% endif %}
{% endcapture %}

{% comment %}
  Google Analytics tracking code
{% endcomment %}
{% capture amsf_google_analytics %}
  {% if site.google_analytics.enabled %}
    <script>
      (function(a,m,s,f,j,k,l){a['GoogleAnalyticsObject']=j;a[j]=a[j]||function(){
      (a[j].q=a[j].q||[]).push(arguments)},a[j].l=1*new Date();k=m.createElement(s),
      l=m.getElementsByTagName(s)[0];k.async=1;k.src=f;l.parentNode.insertBefore(k,l)
      })(window,document,'script','{{ site.google_analytics.url }}','ga');

      ga('create', '{{ site.google_analytics.id }}', 'auto');
      ga('send', 'pageview');
    </script>
  {% endif %}
{% endcapture %}
