<!-- Footer section -->
{% if page.title == site.name and site.clean_homepage %}
{% else %}
  <footer class=footer>
    <ul>
      <li><a href="{{ site.base }}/">{{ site.name }}</a></li>
      {% if site.credits %}
        <li><a href="http://sparanoid.com/lab/amsf/" title="Almace Scaffolding">AMSF</a></li>
      {% endif %}
      {% if site.subscription %}
        <li><a href="{{ '/email-signup' | prepend: site.base }}/">Email</a></li>
      {% endif %}
      <li><a href="{{ site.feed | prepend: site.base }}/" title="Feed - Atom (The Atom Syndication Format)">Atom</a></li>
    </ul>
  </footer>
{% endif %}
