<!-- List snippets -->
<section class=list {% if post.lang %} lang={{ post.lang }}{% endif %}>
  <h1>
    <!-- Dynamic link color based on post color scheme -->
    {% capture post_link_color %}
      {% if post.scheme-bg %}
        {% if post.scheme-bg-light %}
          style="color: {{ post.scheme-text }};"
        {% else %}
          style="color: {{ post.scheme-bg }};"
        {% endif %}
      {% endif %}
    {% endcapture %}

    <!-- Dynamic background color based on post color scheme -->
    {% capture post_link_bg %}
      {% if post.scheme-bg %}
        {% if post.scheme-bg-light %}
          style="background: {{ post.scheme-text }};"
        {% else %}
          style="background: {{ post.scheme-bg }};"
        {% endif %}
      {% endif %}
    {% endcapture %}

    <!-- Item title -->
    <a href="{{ post.url | prepend: site.base }}" {% if site.colorful_list %}{{ post_link_color }}{% endif %}>{{ post.title }}</a>

    <!-- External link indicator -->
    {% if post.link %}
      <a href="{{ post.link }}" class=external><span {% if site.colorful_list %}{{ post_link_bg }}{% endif %}></span></a>
    {% endif %}
  </h1>
</section>
