<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>

<title>{% if page.short != 'home' %}{{ site.name }} - {% endif %}{{ page.title }}</title>

<!-- build:css assets/css/app.css -->
  <link rel="stylesheet" href="{{ '/css/app.css?assets-inline' | prepend: amsf_theme_assets }}">
<!-- endbuild -->

<!-- browser-sync, don't remove this -->
<!-- BS_INSERT -->

<link href="/lab/7z/favicon.ico" rel="shortcut icon">
<link rel="canonical" href="{{ page.url | prepend: site.base | prepend: site.url }}">

<meta name="keywords" content="7-zip, 7zip, 7z, lzma, sevenzip, archiver, compression, zip, best, compress, compressor, gnu, lgpl, unzip, far, win32">
</head>
<body>

<table cellspacing="10" cellpadding="10" border="0" width="100%">
  <tbody>
    <tr>
      <td class="MenuColumn" valign="top">
        <table cellpadding="2" cellspacing="0" border="0" width="100%">
          <tbody>
            <tr>
              <td>
                <img width="110" height="63" src="{{ amsf_user_assets }}/img/7ziplogo.png" alt="7-Zip" border="0">
              </td>
            </tr>
            <tr>
              <td>
                <hr>
              </td>
            </tr>
          </tbody>
        </table>

        <table cellpadding="2" cellspacing="0" border="0">
          <tbody>
            <tr><td><a{% if page.short != 'home' %} href="./"{% endif %}{% if page.short == 'home' %} class="menu-current"{% else %} class="menu-link"{% endif %}>首页</a></td></tr>
            <tr><td><a{% if page.short != '7z' %} href="7z.html"{% endif %}{% if page.short == '7z' %} class="menu-current"{% else %} class="menu-link"{% endif %}>7z 格式</a></td></tr>
            <tr><td><a{% if page.short != 'sdk' %} href="sdk.html"{% endif %}{% if page.short == 'sdk' %} class="menu-current"{% else %} class="menu-link"{% endif %}>LZMA SDK</a></td></tr>
            <tr><td><a{% if page.short != 'download' %} href="download.html"{% endif %}{% if page.short == 'download' %} class="menu-current"{% else %} class="menu-link"{% endif %}>下载</a></td></tr>
            <tr><td><a{% if page.short != 'faq' %} href="faq.html"{% endif %}{% if page.short == 'faq' %} class="menu-current"{% else %} class="menu-link"{% endif %}>常见问题</a></td></tr>
            <tr><td><a{% if page.short != 'support' %} href="support.html"{% endif %}{% if page.short == 'support' %} class="menu-current"{% else %} class="menu-link"{% endif %}>支持</a></td></tr>
            <tr><td><a{% if page.short != 'links' %} href="links.html"{% endif %}{% if page.short == 'links' %} class="menu-current"{% else %} class="menu-link"{% endif %}>链接</a></td></tr>
          </tbody>
        </table>

        <table cellpadding="2" cellspacing="0" border="0" width="100%">
          <tbody>
            <tr>
              <td>
                <hr>
              </td>
            </tr>
            <tr>
              <td>
                <a href="http://www.7-zip.org/">捐助开发者</a>
              </td>
            </tr>
            <tr>
              <td>
                <hr>
              </td>
            </tr>
          </tbody>
        </table>

        <strong>简体中文</strong>
        <br>
        <a href="http://www.developershome.com/7-zip/">正體中文</a>
        <br>
        <a href="http://www.7-zip.org/">Other Languages</a>
        <br>

        <hr>

        {% if page.short == 'home' %}
        <div class="donate-wrap">
          <a href="https://qr.alipay.com/apl1pubpvqly5larc4"><img src="{{ amsf_user_assets }}/img/donate-qr-7z.png" width="120" height="120" border="0" alt="捐赠汉化者"></a>
          <p align="center"><strong>支付宝手机捐赠</strong></p>
          <p class="donate-tip"><strong>捐赠汉化者</strong>：7-Zip 是一款免费的开源软件，简体中文由 Sparanoid 从 2005 年维护至今，如果您喜欢本软件，可以考虑为本人捐赠，金额不限，所得捐款将用于增加本人的汉化动力以及为服务器进行续费</p>
        </div>
        {% endif %}

      </td><!-- .MenuColumn -->

      <td valign="top">

        {{ content }}

        <hr>

        <p>
          <small>Copyright (C) {{ site.time | date: "%Y" }} Igor Pavlov. The site is hosted at <a href="https://aws.amazon.com/">AWS</a></small>
        </p>

      </td><!-- Main Content -->

    </tr>

  </tbody>

</table>

</body>
</html>
